@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,600;1,800&display=swap');


html {
    font-family: 'Open Sans', sans-serif;
    color: #373A3C;
}

a {
    transition: 0.5s;
}

/* sidebar */
#sidebar {
    position: fixed;
    height: 100%;
    width: 300px;
    background: #006599;
    padding-top: 40px;
}

#sidebar h1 {
    color: #FFF;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#sidebar a {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
}

#sidebar a:hover {
    color: #F4EF5E;
}

#sidebar li {
    padding: 20px;
}

.sidebar-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.logo-doceria {
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}